
/* ====== Cabeçalho ====== */
.monitoramento-header {
  text-align: center;
  margin-bottom: 30px;
}

.monitoramento-title {
  color: #004d1a;
  font-size: 2.3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

/* ====== Estrutura principal ====== */
.monitoramento-main {
  max-width: 1000px;
  margin: 0 auto;
}

.monitoramento-section {
  margin-bottom: 60px;
}

/* ====== Títulos ====== */
.monitoramento-subtitle {
  font-size: 1.6rem;
  color: #2c6e49;
  border-left: 5px solid #2c6e49;
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.monitoramento-subsubtitle {
  font-size: 1.4rem;
  color: #2c6e49;
  margin-top: 25px;
  font-weight: 600;
}


.monitoramento-section strong {
  color: #007b33;
}

/* ====== Imagens ====== */
.monitoramento-image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.monitoramento-image {
  width: 20vw;
  height: 25vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.monitoramento-image:hover {
  transform: scale(1.03);
}

/* ====== Diagrama ====== */
.mmonitoramento-diagram {
  text-align: center;
}

.monitoramento-diagram-image {
  width: 90%;
  max-width: 700px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.monitoramento-diagram-image:hover {
  transform: scale(1.02);
}

/* ====== Solução ====== */

.solucao-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.solucaoimage {
  width: 45%; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.solucao-imagem:hover {
  transform: scale(1.02);
}


/* ====== Responsividade ====== */

@media screen and (min-width: 480px) and (max-width: 720px) {
  .monitoramento-header {
    margin-bottom: 20px;
  }

  .monitoramento-title {
    font-size: 1.9rem;
    margin-top: 15px;
  }

  .monitoramento-main {
    max-width: 90%;
    margin: 0 auto;
  }

  .monitoramento-section {
    margin-bottom: 40px;
  }

  .monitoramento-subtitle {
    font-size: 1.4rem;
    border-left-width: 4px;
    padding-left: 8px;
  }

  .monitoramento-subsubtitle {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .monitoramento-image-grid {
    gap: 15px;
  }

  .monitoramento-image {
    width: 60vw;
    height: 20vh;
  }
}

@media  screen and (min-widht: 480px) {
  .monitoramento-diagram-image {
    width: 75vw;
    max-width: 500px;
  }

  .solucaoimage {
    width: 90vw; 
  }
}

@media screen and (max-widht: 720px) {
  .monitoramento-diagram-image {
    width: 90vw;
    max-width: 800px;
  }

  .solucaoimage {
    width: 100vw; 
  }
}