.hardware-section {
  padding: 10rem;
  margin: 1.5rem;
}

.hardware-title {
  font-weight: 700;
  color: #004d1a;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -150px;
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.hardware-description {
  font-size: 1.125rem;
  color: #374151;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.hardware-grid {
  display: flex;
  flex-wrap: wrap; /* permite que os itens quebrem de linha */
  justify-content: center; /* centraliza os cards */
  gap: 1.5rem;
  width: 80%;
  text-align: center;
  margin: 2rem auto;
}


/* ---------- Cards ---------- */

.hardware-card {
  padding: 1rem;
  width: 15vw;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-top: 4px solid transparent;
}

.hardware-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.25rem;
}

.hardware-card-text {
  font-size: 0.875rem;
  color: #4b5563;
}

/* ---------- Ícones ---------- */

.hardware-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 auto 0.5rem;
}

.Imagens {
  width: 12vw;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ---------- Cores ---------- */

.card-ver { border-top-color: #004d1a;}
.text-ver { color: #004d1a; }


/* ---------- Alerta ---------- */

.hardware-alert {
  margin-top: 2rem;
  padding-top: 1rem;
  margin-bottom: -150px;

}

.hardware-alert-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.75rem;
}

.hardware-alert-text {
  background-color: #fef2f2;
  border: 1px solid #fca5a5;
  color: #b91c1c;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  .hardware-section {
    padding: 3rem 1rem;
    margin: 0.7rem;
  }

  .hardware-title {
    font-size: 1.7em;
    margin-top: -35px;
    padding-bottom: 0.3rem;
  }

  .hardware-description {
    font-size: 1.4em;
    line-height: 1.6em;
    margin-bottom: 1.5em;
    text-align: center;
  }

  .hardware-grid {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5em;
  }

  .hardware-card {
    width: 80%;
    padding: 1em;
  }

  .card-ver {
    width: 80%;
  }

  .hardware-card-title {
    font-size: 1.3em;
  }

  .hardware-card-text {
    font-size: 1.3em;
  }

  .hardware-icon {
    width: 7vw;
    height: 7vh;
    margin-bottom: 0.4rem;
  }

   .Imagens {
  width: 27vw;
  height: 27vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

  .hardware-alert {
    margin-top: 2rem;
    margin-bottom: -50px;
    padding: 0.75rem;
  }

  .hardware-alert-title {
    font-size: 1.5rem;
  }

  .hardware-alert-text {
    font-size: 1.4rem;
    padding: 0.6rem;
  }
}