.navbar {
  background-color: #ffffff;
  padding: 15px 30px; /* espaçamento interno da navbar */
  text-align: center;
  border-bottom: 1px solid #ccc; /* apenas a linha inferior */
  margin: 10px 0; /* espaço opcional entre a navbar e outros elementos */
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
   justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-item {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
}

.nav-item a {
  color: #007b33; /* cor dos links */
  text-decoration: none; /* remove sublinhado azul */
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #004d1a;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -5px; /* linha do item abaixo do texto */
  left: 0;
  width: 0;
  height: 3px;
  background-color: #007b33;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-item:hover::after,
.nav-item a.active::after {
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .nav-list {
    gap: 16px;
  }

  .nav-item {
    font-size: 16px;
  }
}
